.social-icons i{
    display: inline;
}
.twitch-c {
  color: blueviolet;
}
.twitter-c {
  color: aqua;
}
.facebook-c {
  color: blue;
}
.youtube-c {
    color:red;
}
.microsoft-teams-c {
    color:#5B5FC7;
}
.line-c {
    color:#06c152;
}
.pinterest-c {
    color:red;
}


.hover-icon .hover-1 {
  display: none;
}
.hover-icon:hover .hover-1 {
  display: inline;
}
.hover-icon:hover .hover-0 {
  display: none;
}

/* body{padding-top:50px;} */

.hoticon{
  bottom: 24px;
}

.saleicon{
  bottom: 24px;
  right: 0px;
  z-index: 999;
}
.noticeicon{
  right: -5px;
  top:-5px;
  z-index: 999;
}

.soldouticon{
  right:-10px;
  z-index: 999;
}
.form-border {
  border: 1px solid #aaa;
  padding: 12px 24px;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px #108015;
  background-color: rgb(178, 240, 176);
}